* {
    font-family: 'Noto Sans KR'
}

.inputfield {
    height: 60px;
}

.submitBtn {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitIcon {
    font-size: 25px;
    /* 아이콘 크기를 조절할 값 */
}

.chat-bubble {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}